@model HomeVM
    <div class="col-sm-4">
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="clickable-div">

            <div class="p-3 mb-5 custom-bg-color rounded text-center border border-warning">
                <!-- SVG icon and text content -->
                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                    <!-- Bruker modellen HomeEntity og henter SvgPath -->
                    <path d="@Model.SvgPath"></path>
                </svg>
                <!-- Bruker modellen HomeEntity og henter Text -->
                <p class="mt-2">@Model.Text</p>
            </div>
        </a>

    </div>