@model IEnumerable<HomeEntity>
@{
    ViewData["Title"] = "Sjekkliste for elektriker";
}


    <h2 class="text-center mb-2 mt-2">Ansatt</h2>
        <div class="container">
            <div class="row">
                <!-- Foreach som looper gjennom listen i HomeController ved index
                     Den tar svg og text som input i controlleren og bruker div-klassene i _MyPartialView
                     for å danne bokser med ikoner og tekst som etterhvert skal være klikkbare
                -->
                @foreach (var item in Model)
                {
                    <partial name="_MyPartialView" model="item" />
                }
                <form asp-action="Create" method="post">
                <table class="table table-striped table-hover table-bordered text-center">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>Sjekkpunkter</th>
                        <th>OK</th>
                        <th>Bør skiftes</th>
                        <th>Defekt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sjekk ledningsnett på vinsj</td>
                        <td>
                            <input type="radio" name="ledningsNett" value="OK"> OK
                        </td>
                        <td>
                            <input type="radio" name="ledningsNett" value="Bør skiftes"> Bør skiftes
                        </td>
                        <td>
                            <input type="radio" name="ledningsNett" value="Defekt"> Defekt
                        </td>
                                   
                    </tr>
                    <tr>
                        <td>Sjekk og test radio</td>
                        <td>
                            <input type="radio" name="radioTest" value="OK"> OK
                        </td>
                        <td>
                            <input type="radio" name="radioTest" value="Bør skiftes"> Bør skiftes
                        </td>
                        <td>
                            <input type="radio" name="radioTest" value="Defekt"> Defekt
                        </td>
                    </tr>
                    <tr>
                        <td>Sjekk og test knappekasse</td>
                        <td>
                            <input type="radio" name="knappekasseTest" value="OK"> OK
                        </td>
                        <td>
                            <input type="radio" name="knappekasseTest" value="Bør skiftes"> Bør skiftes
                        </td>
                        <td>
                            <input type="radio" name="knappekasseTest" value="Defekt"> Defekt
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>


