@using Microsoft.AspNetCore.Identity;
@model IdentityRole


<div class="row">
    <div class="col-md-4 bg-white bg-opacity-75 rounded-3 border border-white">
        <form method="post">
            <h2 class="text-dark">Opprett Role</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" aria-required="true"/>
                <label asp-for="Name">Navn</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2 mb-2">Lagre</button>
        </form>
    </div>
</div>