@using Microsoft.AspNetCore.Identity
@using WebapplikasjonSemesterOppgave.Areas.Identity.Data

@inject SignInManager<SampleUser> SignInManager
@inject UserManager<SampleUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link custom-hover" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hei @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link custom-hover">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link custom-hover" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link custom-hover" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>