@model WebapplikasjonSemesterOppgave.Models.ServiceChecklistEntity

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>ServiceChecklistEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClutchlamelerSlitasje" class="control-label"></label>
                <select asp-for="ClutchlamelerSlitasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="ClutchlamelerSlitasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bremser" class="control-label"></label>
                <select asp-for="Bremser" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Bremser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LagerforTrommel" class="control-label"></label>
                <select asp-for="LagerforTrommel" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="LagerforTrommel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PTOogOpplagring" class="control-label"></label>
                <select asp-for="PTOogOpplagring" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="PTOogOpplagring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kjedestrammer" class="control-label"></label>
                <select asp-for="Kjedestrammer" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Kjedestrammer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wire" class="control-label"></label>
                <select asp-for="Wire" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Wire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PinionLager" class="control-label"></label>
                <select asp-for="PinionLager" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="PinionLager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilepåKjedehjul" class="control-label"></label>
                <select asp-for="KilepåKjedehjul" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="KilepåKjedehjul" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="mechanicDone"/> @Html.DisplayNameFor(model => model.mechanicDone)
                </label>
                </div>
            <div class="form-group">
                <label asp-for="SylinderLekkasje" class="control-label"></label>
                <select asp-for="SylinderLekkasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SylinderLekkasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlangeSkadeLekkasje" class="control-label"></label>
                <select asp-for="SlangeSkadeLekkasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()"  class="form-control"></select>
                <span asp-validation-for="SlangeSkadeLekkasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydraulikkblokkTestbenk" class="control-label"></label>
                <select asp-for="HydraulikkblokkTestbenk" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="HydraulikkblokkTestbenk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkiftOljeiTank" class="control-label"></label>
                <select asp-for="SkiftOljeiTank" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SkiftOljeiTank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkiftOljepåGirboks" class="control-label"></label>
                <select asp-for="SkiftOljepåGirboks" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SkiftOljepåGirboks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ringsylinder" class="control-label"></label>
                <select asp-for="Ringsylinder" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Ringsylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bremsesylinder" class="control-label"></label>
                <select asp-for="Bremsesylinder" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Bremsesylinder" class="text-danger"></span>
            </div>
             <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="hydraulicsDone"/> @Html.DisplayNameFor(model => model.hydraulicsDone)
                            </label>
                            </div>
            <div class="form-group">
                <label asp-for="LedningsnettpåVinsj" class="control-label"></label>
                <select asp-for="LedningsnettpåVinsj" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="LedningsnettpåVinsj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestRadio" class="control-label"></label>
                <select asp-for="TestRadio" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="TestRadio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Knappekasse" class="control-label"></label>
                <select asp-for="Knappekasse" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Knappekasse" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="electricianDone"/> @Html.DisplayNameFor(model => model.electricianDone)
                </label>
                </div>
            <div class="form-group">
                <label asp-for="XxBar" class="control-label"></label>
                <input asp-for="XxBar" class="form-control" />
                <span asp-validation-for="XxBar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VinsjKjørAlleFunksjoner" class="control-label"></label>
                <input asp-for="VinsjKjørAlleFunksjoner" class="form-control" />
                <span asp-validation-for="VinsjKjørAlleFunksjoner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrekkraftKN" class="control-label"></label>
                <input asp-for="TrekkraftKN" class="form-control" />
                <span asp-validation-for="TrekkraftKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BremsekraftKN" class="control-label"></label>
                <input asp-for="BremsekraftKN" class="form-control" />
                <span asp-validation-for="BremsekraftKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select asp-for="OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

