@model WebapplikasjonSemesterOppgave.Models.ServiceChecklistEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServiceChecklistEntity</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        <table class="table table-striped table-hover table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th>Sjekkpunkter</th>
                    <th>OK</th>
                    <th>Bør skiftes</th>
                    <th>Defekt</th>
                </tr>
                </thead>
                <tr>
                    <td>Sjekk clutch lameller slitasje</td>
                    <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="OK" /> OK</td>
                    <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="Bør_skiftes" /> Bør skiftes</td>
                    <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="Defekt" /> Defekt</td>

                </tr>
                <tr>
                    <td>Sjekk bremser. Bånd/Pal</td>
                    <td><input type="radio" asp-for="Bremser" value="OK" /> OK</td>
                    <td><input type="radio" asp-for="Bremser" value="Bør_skiftes" /> Bør skiftes</td>
                    <td><input type="radio" asp-for="Bremser" value="Defekt" /> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk lager for trommel</td>
                    <td><input type="radio" asp-for="LagerforTrommel" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="LagerforTrommel" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="LagerforTrommel" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk PTO og opplagring</td>
                    <td><input type="radio" asp-for="PTOogOpplagring" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="PTOogOpplagring" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="PTOogOpplagring" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk kjedestrammer</td>
                    <td><input type="radio" asp-for="Kjedestrammer" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="Kjedestrammer" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="Kjedestrammer" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk wire</td>
                    <td><input type="radio" asp-for="Wire" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="Wire" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="Wire" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk pinion lager</td>
                    <td><input type="radio" asp-for="PinionLager" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="PinionLager" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="PinionLager" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk kile på kjedehjul</td>
                    <td><input type="radio" asp-for="KilepåKjedehjul" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="KilepåKjedehjul" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="KilepåKjedehjul" value="Defekt"/> Defekt</td>
                </tr>
                @* Hydraulisk *@
                <thead class="table table-success table-striped">
                <tr class="text-center">
                    <th colspan="4">Hydraulisk</th>
                </tr>
                </thead>
                <tr>
                    <td>Sjekk hydraulikk sylinder for lekkasje</td>
                    <td><input type="radio" asp-for="SylinderLekkasje" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="SylinderLekkasje" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="SylinderLekkasje" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk slanger for skader og lekkasje</td>
                    <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Test hydraulikkblokk i testbenk</td>
                    <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Skift olje i tank</td>
                    <td><input type="radio" asp-for="SkiftOljeiTank" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="SkiftOljeiTank" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="SkiftOljeiTank" value="Defekt"/> Defekt</td>
                </tr>
        
                <tr>
                    <td>Skift olje på gir boks</td>
                    <td><input type="radio" asp-for="SkiftOljepåGirboks" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="SkiftOljepåGirboks" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="SkiftOljepåGirboks" value="Defekt"/> Defekt</td>
                </tr>
        
                <tr>
                    <td>Sjekk ringsylinder åpne og skift tetninger</td>
                    <td><input type="radio" asp-for="Ringsylinder" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="Ringsylinder" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="Ringsylinder" value="Defekt"/> Defekt</td>
                </tr>
                <tr>
                    <td>Sjekk bremse sylinder åpne og skift tetninger</td>
                    <td><input type="radio" asp-for="Bremsesylinder" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="Bremsesylinder" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="Bremsesylinder" value="Defekt"/> Defekt</td>
                </tr>
                        @* Hydraulisk *@
                <thead class="table table-success table-striped">
                <tr class="text-center">
                    <th colspan="4">Elektro</th>
                </tr>
                </thead>
                <tr>
                    <td>Sjekk ledningsnett på vinsj</td>
                    <td><input type="radio" asp-for="LedningsnettpåVinsj" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="LedningsnettpåVinsj" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="LedningsnettpåVinsj" value="Defekt"/> Defekt</td>
                </tr>
                
                        
                <tr>
                    <td>Sjekk og test radio</td>
                    <td><input type="radio" asp-for="TestRadio" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="TestRadio" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="TestRadio" value="Defekt"/> Defekt</td>
                </tr>
                
                <tr>
                    <td>Sjekk og test knappekasse</td>
                    <td><input type="radio" asp-for="Knappekasse" value="OK"/> OK</td>
                    <td><input type="radio" asp-for="Knappekasse" value="Bør_skiftes"/> Bør skiftes</td>
                    <td><input type="radio" asp-for="Knappekasse" value="Defekt"/> Defekt</td>
                </tr>
            <div asp-validation-summary="All"></div>
        </table>
            <div class="form-group">
                            <label asp-for="XxBar" class="control-label"></label>
                            <input asp-for="XxBar" class="form-control" />
                            <span asp-validation-for="XxBar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VinsjKjørAlleFunksjoner" class="control-label"></label>
                            <input asp-for="VinsjKjørAlleFunksjoner" class="form-control" />
                            <span asp-validation-for="VinsjKjørAlleFunksjoner" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TrekkraftKN" class="control-label"></label>
                            <input asp-for="TrekkraftKN" class="form-control" />
                            <span asp-validation-for="TrekkraftKN" class="text-danger"></span>
                        </div>
            <div class="form-group">
                <label asp-for="BremsekraftKN" class="control-label"></label>
                <input asp-for="BremsekraftKN" class="form-control" />
                <span asp-validation-for="BremsekraftKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="OrderId" class="control-label"></label>
                            <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                            <span asp-validation-for="OrderId" class="text-danger"></span>
                        </div>
            <div class="form-group">
                                  <input type="submit" value="Save" class="btn btn-primary" />
                              </div>
        </form>

<div>
    <a class="btn btn-light"asp-action="Index">Back to List</a>
</div>

     @*<div class="form-group">
                <label asp-for="ClutchlamelerSlitasje" class="control-label"></label>
                <select asp-for="ClutchlamelerSlitasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="ClutchlamelerSlitasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bremser" class="control-label"></label>
                <select asp-for="Bremser" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Bremser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LagerforTrommel" class="control-label"></label>
                <select asp-for="LagerforTrommel" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="LagerforTrommel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PTOogOpplagring" class="control-label"></label>
                <select asp-for="PTOogOpplagring" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="PTOogOpplagring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kjedestrammer" class="control-label"></label>
                <select asp-for="Kjedestrammer" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Kjedestrammer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wire" class="control-label"></label>
                <select asp-for="Wire" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Wire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PinionLager" class="control-label"></label>
                <select asp-for="PinionLager" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="PinionLager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KilepåKjedehjul" class="control-label"></label>
                <select asp-for="KilepåKjedehjul" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="KilepåKjedehjul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SylinderLekkasje" class="control-label"></label>
                <select asp-for="SylinderLekkasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SylinderLekkasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlangeSkadeLekkasje" class="control-label"></label>
                <select asp-for="SlangeSkadeLekkasje" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SlangeSkadeLekkasje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydraulikkblokkTestbenk" class="control-label"></label>
                <select asp-for="HydraulikkblokkTestbenk" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="HydraulikkblokkTestbenk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkiftOljeiTank" class="control-label"></label>
                <select asp-for="SkiftOljeiTank" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SkiftOljeiTank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkiftOljepåGirboks" class="control-label"></label>
                <select asp-for="SkiftOljepåGirboks" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="SkiftOljepåGirboks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ringsylinder" class="control-label"></label>
                <select asp-for="Ringsylinder" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Ringsylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bremsesylinder" class="control-label"></label>
                <select asp-for="Bremsesylinder" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Bremsesylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LedningsnettpåVinsj" class="control-label"></label>
                <select asp-for="LedningsnettpåVinsj" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="LedningsnettpåVinsj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestRadio" class="control-label"></label>
                <select asp-for="TestRadio" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="TestRadio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Knappekasse" class="control-label"></label>
                <select asp-for="Knappekasse" asp-items="Html.GetEnumSelectList<ChecklistItemCondition>()" class="form-control"></select>
                <span asp-validation-for="Knappekasse" class="text-danger"></span>
            </div>
            

*@

