@model WebapplikasjonSemesterOppgave.Models.OrderEntity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Warranty" /> @Html.DisplayNameFor(model => model.Warranty)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ServiceOrRepair" /> @Html.DisplayNameFor(model => model.ServiceOrRepair)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAgreement" class="control-label"></label>
                <input asp-for="CustomerAgreement" class="form-control" />
                <span asp-validation-for="CustomerAgreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReparationDetails" class="control-label"></label>
                <input asp-for="ReparationDetails" class="form-control" />
                <span asp-validation-for="ReparationDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label"></label>
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplacedPartsReturned" class="control-label"></label>
                <input asp-for="ReplacedPartsReturned" class="form-control" />
                <span asp-validation-for="ReplacedPartsReturned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethods" class="control-label"></label>
                <input asp-for="ShippingMethods" class="form-control" />
                <span asp-validation-for="ShippingMethods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
