@model WebapplikasjonSemesterOppgave.Models.OrderEntity

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row justify-content-center">


    <div class="col-md-6 bg-white bg-opacity-75 border border-2 rounded">    
        <h1 class="text-center">Rediger Ordre</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="row"> <!-- Row start -->
                <!-- ProductType Field -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProductType" class="control-label"></label>
                        <input asp-for="ProductType" class="form-control"/>
                        <span asp-validation-for="ProductType" class="text-danger"></span>
                    </div>
                </div>
                <!-- SerialNumber Field -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control"/>
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ModelYear" class="control-label"></label>
                        <input asp-for="ModelYear" class="form-control"/>
                        <span asp-validation-for="ModelYear" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="OrderPlacerCustomer" class="control-label"></label>
                        <input asp-for="OrderPlacerCustomer" class="form-control"/>
                        <span asp-validation-for="OrderPlacerCustomer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row"> <!-- Row start -->
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label asp-for="OrderCreatedDate" class="control-label"></label>
                        <input asp-for="OrderCreatedDate" class="form-control"/>
                        <span asp-validation-for="OrderCreatedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProductAgreedCompletionDate" class="control-label"></label>
                        <input asp-for="ProductAgreedCompletionDate" class="form-control"/>
                        <span asp-validation-for="ProductAgreedCompletionDate" class="text-danger"></span>
                    </div>
                    </div>
                </div>
           <div class="row"> <!-- Row for radio button groups -->
                           <!-- Warranty Field -->
               <div class="col-md-6">
                               
                   <div class="form-group">
                       <label class="control-label">@Html.DisplayNameFor(model => model.Warranty)</label>
                       <div class="form-check form-check-inline">
                           <input type="radio" name="Warranty" value="True" class="form-check-input"
                                  asp-for="Warranty"/>
                           <label class="form-check-label">Ja</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input type="radio" name="Warranty" value="False" class="form-check-input" asp-for="Warranty"/>
                           <label class="form-check-label">Nei</label>
                       </div>
                       <span asp-validation-for="Warranty" class="text-danger"></span>
                       </div>
                   </div>
                           <!-- ServiceOrRepair Field -->
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label class="control-label">@Html.DisplayNameFor(model => model.ServiceOrRepair)</label>
                                   <div class="form-check form-check-inline">
                                       <input type="radio" name="ServiceOrRepair" value="True" class="form-check-input" 
                                              asp-for="ServiceOrRepair" />
                                       <label class="form-check-label">Ja</label>
                                   </div>
                                   <div class="form-check form-check-inline">
                                       <input type="radio" name="ServiceOrRepair" value="False" class="form-check-input" 
                                              asp-for="ServiceOrRepair" />
                                       <label class="form-check-label">Nei</label>
                                   </div>
                                   <span asp-validation-for="ServiceOrRepair" class="text-danger"></span>
                               </div>
                           </div>
                       </div>
            <div class="form-group">
                <label asp-for="CustomerAgreement" class="control-label"></label>
                <textarea asp-for="CustomerAgreement" class="form-control"></textarea>
                <span asp-validation-for="CustomerAgreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReparationDetails" class="control-label"></label>
                <textarea asp-for="ReparationDetails" class="form-control"></textarea>
                <span asp-validation-for="ReparationDetails" class="text-danger"></span>
            </div>
            
           
                    <div class="form-group">
                        <label asp-for="WorkingHours" class="control-label"></label>
                        <input asp-for="WorkingHours" class="form-control"/>
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
      
                           
            <div class="row"> <!-- Row start -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReplacedPartsReturned" class="control-label"></label>
                        <input asp-for="ReplacedPartsReturned" class="form-control"/>
                        <span asp-validation-for="ReplacedPartsReturned" class="text-danger"></span>
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ShippingMethods" class="control-label"></label>
                        <input asp-for="ShippingMethods" class="form-control"/>
                        <span asp-validation-for="ShippingMethods" class="text-danger"></span>
                    </div>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-2">
                <input type="submit" value="Lagre" class="btn btn-primary" style="width: 68%;"/>
            
                <a asp-action="Index" class="btn btn-secondary" style="width: 31%">Tilbake til ordreoversikt</a>
            </div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
