@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout ="/Views/Shared/_Layout.cshtml";;
    }
}
<div class="col-md-12 bg-white bg-opacity-75 border border-white rounded-3">
<h1>Administrer kontoen din</h1>

<div>
    <h2>Endre dine brukerinstillinger</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
