@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Kontoen din inneholder personopplysninger som du har gitt oss. Denne siden lar deg laste ned eller slette disse dataene.</p>
        <p>
            <strong>Hvis du sletter disse dataene, fjernes kontoen din permanent, og dette kan ikke gjenopprettes.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Last ned</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Slett</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
